<a href="https://colab.research.google.com/github/jvrscak/Analiza-utjecaja-prehrane-na-rezultate-sporta-a/blob/main/projekt_iz_PZAP_JanVr%C5%A1%C4%8Dak.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Uvođenje i učitavanje podataka.

In [1]:
import pandas as pd
import numpy as np
import json

In [3]:
df_sport = pd.read_csv('podaci_o_sportasu.csv')
df_sport.head()

,athlete_id,sport,age,weight_kg,height_cm,training_hours_per_week,product_1,product_2,product_3,performance_score
0,581,Running,39,69,172,19,Shrimp,Cottage Cheese,Walnuts,87
1,567,Running,40,85,197,18,Tomato,Blueberries,Apple,53
2,2,Football,27,61,163,5,Blueberries,Shrimp,Salmon,95
3,235,Cycling,37,65,193,16,Sunflower Seeds,Apple,Broccoli,67
4,571,Cycling,18,63,178,10,Oatmeal,Brown Rice,Walnuts,78