<a href="https://colab.research.google.com/github/jvrscak/Analiza-utjecaja-prehrane-na-rezultate-sporta-a/blob/main/projekt_iz_PZAP_JanVr%C5%A1%C4%8Dak.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PROJETK PZAP**  
**ANALIZA UTJECAJA PREHRANE NA REZULTATE SPORTAŠA**  
**STUDIJ: INFORMACIJSKI I POSLOVNI SUSTAVI**  
**SMJER: UMJETNA INTELIGENCIJA U POSLOVANJU**  
**GODINA: 3.**  
**IME I PREZIME: JAN VRŠČAK**  
**VARAŽDIN, SIJEČANJ, 2026.**

**UVOD**  
Cilj projekta je ispitati postoji li povezanost između nutritivnog sastava prehrane npr. kalorije, proteini, ugljikohidrati te sportskih performansi.  
Prehrana ima važnu ulogu u životima sportaša jer izravno utječe na fizičku spremu, oporavak i postizanje sportskih rezultata. U suvremenom sportu sve se veći naglasak stavlja na individualizirani pristup prehrani sportaša, a odluke se temelje na analizi podataka, a ne prema preporukama. Osobna motivacija za ovu temu je moja ljubav prema sportu te bavljenje sportom kroz cijeli život. Osim toga, motivacija za odabir ove teme je da se povežu sport i analiza podataka i da se kroz konkretan primjer pokaže kako se podatci iz različitih izvora mogu integrirati i analizirati u svrhu donošenja zaključaka. Korištenjem podataka o nutritivnim vrijednostima namirnica i podataka o sportašima moguće je istražiti potencijalne povezanosti između prehrambenih karakteristika i sportskih performansi. Dodatna motivacija je tehnički aspekt da se povežu heterogeni skupovi podataka, JSON i CSV, te njihovo pretprocesiranje i integracija te implementacija jednostavnog sustava za pohranu i pristup podatcima.

**OPIS IMPLEMENTACIJE**

**Uvođenje i učitavanje podataka**

U projektu korištena su dva odvojena skupa podataka. Prvi skup je CSV format koji se odnosi na sportaše te njihove namirnice koej koriste i sportski uspjeh. Taj skup podataka je generiran preko web stranice generatedata.com.[2] Drugi skup podataka je u JSON formatu i odnosi se na nutritivne vrijednosti namirnica, uključujući energetsku vrijednost, proteine, ugljikohidrate, masti. Taj format je preuzet sa stranica OpenFoodFacts.[1]   
Kako bih preuzeo JSON podatke sa stranice OpenFoodFacts, morao sam preuzeti podatke preko sljedećeg linka: https://world.openfoodfacts.org/api/v0/product/4056489148739.json , a to znači da sam prvo pronašao proizvod preko stranice OpenFoodFacts i onda sam upisao barkod tog proizvoda u link i preuzeo JSON podatke.[1]

In [81]:
import pandas as pd
import numpy as np
import json

In [82]:
df_sport = pd.read_csv('podaci_o_sportasu.csv')
df_sport.head()

,athlete_id,sport,age,weight_kg,height_cm,training_hours_per_week,product_1,product_2,product_3,performance_score
0,581,Running,39,69,172,19,Shrimp,Cottage Cheese,Walnuts,87
1,567,Running,40,85,197,18,Tomato,Blueberries,Apple,53
2,2,Football,27,61,163,5,Blueberries,Shrimp,Salmon,95
3,235,Cycling,37,65,193,16,Sunflower Seeds,Apple,Broccoli,67
4,571,Cycling,18,63,178,10,Oatmeal,Brown Rice,Walnuts,78

In [83]:
with open("namirnice.json", "r") as f:
    namirnice = json.load(f)

In [84]:
type(namirnice)
namirnice[0]

{'product_name': 'Eggs',
 'nutriments': {'energy-kcal_value': 78.65,
  'proteins_value': 7.755,
  'carbohydrates_value': 0,
  'sugars_value': 0,
  'fat_value': 5.28,
  'saturated-fat_value': 1.485,
  'fiber_value': 0,
  'calcium_value': 0,
  'potassium_value': 0}}

In [85]:
type(namirnice)
namirnice[3]

{'product_name': 'Almonds',
 'nutriments': {'energy-kcal_value': 186,
  'proteins_value': 7.4,
  'carbohydrates_value': 1.4,
  'sugars_value': 1,
  'fat_value': 16,
  'saturated-fat_value': 1.3,
  'fiber_value': 2.4,
  'calcium_value': 0.236,
  'potassium_value': 0.659}}

**Pretprocesiranje podataka**

Pretprocesiranje je provedeno s ciljem pripreme podataka za daljnu analizu i integraciju. Treba se osigurati konzistentnost i ispravnost podataka budući da su skupovi u različitim formatima.

Za početak, uklonio sam nepotrebne nutrijente i ostavio sam energetsku vrijednost, proteine, ugljikohidrate i masti. Napravio sam tablični oblik i izravnao ugniježđeni JSON.

In [86]:
hrana = []

for i in namirnice:
    namirnice = i.get("nutriments", {})
    hrana.append({
        "product_name": i.get("product_name", "").lower().strip(),
        "calories": i.get("nutriments", {}).get("energy-kcal_value", 0),
        "proteins": i.get("nutriments", {}).get("proteins_value", 0),
        "carbohydrates": i.get("nutriments", {}).get("carbohydrates_value", 0),
        "fats": i.get("nutriments", {}).get("fat_value", 0)
    })

hrana_df = pd.DataFrame(hrana)
hrana_df.head()

  product_name  calories  proteins  carbohydrates   fats
0         eggs     78.65     7.755            0.0   5.28
1       banana     90.50     1.060           19.7   0.25
2     broccoli     40.40     2.000            7.2   0.40
3      almonds    186.00     7.400            1.4  16.00
4    olive oil    828.00     0.000            0.0  92.00

Ukoliko postoje zapisi bez imena proizvoda, potrebno ih je ukloniti i treba osigurati da svi podatci o nutritivnim vrijednostima budu numeričkog tipa.

In [87]:
hrana_df = hrana_df[hrana_df["product_name"] != ""]

In [88]:
from numpy._core import numeric
numeric_columns = ["calories", "proteins", "carbohydrates", "fats"]
hrana_df[numeric_columns] = hrana_df[numeric_columns].apply(pd.to_numeric, errors="coerce")
hrana_df.fillna(0, inplace=True)

Nakon što je odrađeno pretprocesiranje JSON podataka, sada je potrebno pretprocesirati CSV podatke. Podatci o sportašima zapisani su u CSV formatu. Tamo su nam bitni podatci o konzumiranim proizvodima (product_1, product_2, product_3) i oni služe kao poveznica za podatke o namirnicama. Nema nedostajućih vrijednosti pa nema potrebe za uklanjanjem. Ali, zato sam nazive proizvoda oba skupa standardizirao, odnosno pretvorio ih u mala slova i uklonio nepotrebne znakove kako bi se mogla provesti faza integracije.

In [89]:
for col in ["product_1", "product_2", "product_3"]:
    df_sport[col] = df_sport[col].str.lower().str.strip()

In [90]:
df_sport.head()

,athlete_id,sport,age,weight_kg,height_cm,training_hours_per_week,product_1,product_2,product_3,performance_score
0,581,Running,39,69,172,19,shrimp,cottage cheese,walnuts,87
1,567,Running,40,85,197,18,tomato,blueberries,apple,53
2,2,Football,27,61,163,5,blueberries,shrimp,salmon,95
3,235,Cycling,37,65,193,16,sunflower seeds,apple,broccoli,67
4,571,Cycling,18,63,178,10,oatmeal,brown rice,walnuts,78

**INTEGRACIJA PODATAKA**

In [91]:
nutrient_dict = hrana_df.set_index("product_name")[["calories", "proteins", "carbohydrates", "fats"]].to_dict(orient="index")

In [92]:
def get_nutrients_safe(product):
    if product in nutrient_dict:
        return nutrient_dict[product]
    else:
        return {"calories": 0, "proteins": 0, "carbohydrates": 0, "fats": 0}

In [103]:
df_sport["total_calories"] = 0.0
df_sport["total_proteins"] = 0.0
df_sport["total_carbohydrates"] = 0.0
df_sport["total_fats"] = 0.0

for i, athlete in df_sport.iterrows():
    total_calories = 0.0
    total_proteins = 0.0
    total_carbohydrates = 0.0
    total_fats = 0.0

    for product_col in ["product_1", "product_2", "product_3"]:
        nutrients = get_nutrients_safe(athlete[product_col])
        total_calories += nutrients["calories"]
        total_proteins += nutrients["proteins"]
        total_carbohydrates += nutrients["carbohydrates"]
        total_fats += nutrients["fats"]

    df_sport.at[i, "total_calories"] = total_calories
    df_sport.at[i, "total_proteins"] = total_proteins
    df_sport.at[i, "total_carbohydrates"] = total_carbohydrates
    df_sport.at[i, "total_fats"] = total_fats

In [106]:
df_sport.head(20)

,athlete_id,sport,age,weight_kg,height_cm,training_hours_per_week,product_1,product_2,product_3,performance_score,total_calories,total_proteins,total_carbohydrates,total_fats
0,581,Running,39,69,172,19,shrimp,cottage cheese,walnuts,87,859.00,39.900,6.200,73.700
1,567,Running,40,85,197,18,tomato,blueberries,apple,53,155.70,1.770,28.400,2.530
2,2,Football,27,61,163,5,blueberries,shrimp,salmon,95,327.70,36.570,11.200,14.030
3,235,Cycling,37,65,193,16,sunflower seeds,apple,broccoli,67,755.40,24.100,25.200,60.700
4,571,Cycling,18,63,178,10,oatmeal,brown rice,walnuts,78,1476.00,32.100,124.900,90.200
5,459,Weightlifting,33,74,169,19,shrimp,avocado,olive oil,83,1087.00,15.600,2.000,112.200
6,515,Running,19,67,158,17,bell peppers,protein bar,bell peppers,89,473.00,17.700,40.800,22.700
7,59,CrossFit,24,109,167,17,whole wheat bread,chicken breast,spinach,95,194.00,27.300,12.500,4.400
8,472,Basketball,19,107,183,15,beans,tuna,sweet potato,46,510.00,38.000,64.300,14.700
9,343,Cycling,29,82,159,13,pasta,quinoa,salmon,65,681.10,38.510,89.710,17.199
10,914,Swimming,20,89,154,17,chia seeds,kefir,tuna,79,609.00,46.800,13.100,33.500
11,128,CrossFit,26,99,156,13,whole wheat bread,avocado,carrots,84,375.00,8.000,21.900,27.200
12,783,Basketball,29,98,199,11,olive oil,kefir,sweet potato,61,1131.00,7.600,29.600,107.700
13,179,Football,39,77,155,13,chia seeds,chia seeds,cod,47,1095.00,46.000,35.400,71.000
14,396,Tennis,27,105,182,3,avocado,milk,oatmeal,69,698.00,15.500,63.000,40.100
15,853,Cycling,36,105,184,7,protein bar,olive oil,tuna,65,1352.00,41.200,32.600,114.100
16,327,CrossFit,29,59,195,18,skim milk,tuna,milk,51,185.33,32.030,9.800,2.100
17,835,Football,18,102,151,16,protein bar,brown rice,spinach,97,764.00,26.300,98.400,25.100
18,375,Cycling,32,87,155,5,peanut butter,cheddar cheese,peanut butter,51,634.62,34.818,3.016,53.362
19,619,Running,28,75,203,14,sunflower seeds,orange juice,tomato,42,780.00,24.000,27.800,62.300

Integracija podataka provedena je tako da su podatci o sportašima povezani s nutritivnim vrijednostima proizvoda koje konzumiraju. Dohvaćene su vrijednosti za svakog sportaša za proizvode product_1, product_2, product_3. Ako nije pronađen u sklopu podataka o namirnicama, njegove nutritivne vrijednosti postavljene su na nulu. Ukupni unos kalorija i makronutrijenata postignut je zbrajanjem vrijednosti svih tri proizvoda. Svaki sportaš ima jedan red s ukupnim nutritivnim vrijednostima i omogućuje daljnju analizu i vizualizaciju.

**POHRANA PODATAKA**

In [99]:
import sqlite3

In [100]:
conn = sqlite3.connect("sport_data.db")
cursor = conn.cursor()

In [101]:
df_sport.to_sql(
    name="sport_data",
    con=conn,
    if_exists="replace",
    index=False
)

500

In [102]:
pd.read_sql("SELECT * FROM sport_data LIMIT 5", conn)

,athlete_id,sport,age,weight_kg,height_cm,training_hours_per_week,product_1,product_2,product_3,performance_score,total_calories,total_proteins,total_carbohydrates,total_fats
0,581,Running,39,69,172,19,shrimp,cottage cheese,walnuts,87,859.0,39.90,6.2,73.70
1,567,Running,40,85,197,18,tomato,blueberries,apple,53,155.7,1.77,28.4,2.53
2,2,Football,27,61,163,5,blueberries,shrimp,salmon,95,327.7,36.57,11.2,14.03
3,235,Cycling,37,65,193,16,sunflower seeds,apple,broccoli,67,755.4,24.10,25.2,60.70
4,571,Cycling,18,63,178,10,oatmeal,brown rice,walnuts,78,1476.0,32.10,124.9,90.20

Integrirani skup podataka pohranjen je u relacijsku bazu podataka SQLite u tablicu sport_data. Baza omogućuje trajnu pohranu podataka i jednostavan pristup za daljnju analizu ili izradu API-ja. Pohrana je provedena korištenjem funkcije pandas.to_sql koja automatski kreira tablicu u bazi i popunjava je podatcima iz DataFrame-a.

**LITERATURA**  
[1] OpenFoodFacts, "OpenFoodFacts - Data", OpenFoodFacts.[Online]. Dostupno: https://world.openfoodfacts.org/data . [Pristupljeno: 21.1.2026.]  
[2] GenerateData, "Generate Data - Random Data Generator", GenerateData. [Online]. Dostupno: https://generatedata.com/ . [Pristupljeno: 20.1.2026.]